"title": "ActiVegan app"

"api":
    "baseUrl": "http://activegan.anonymous.org.il/wp-json"
    "timeout": 7000
    "maxAttempt": 2

"translation":
    "displayed" : ["en", "he"]
    "prefered": "he"

"cordova":
    "pushNotifications":
        "enabled": true
        "baseUrl": "http://activegan.anonymous.org.il/pnfw"
        "android":
            "senderID": "1037605906337"

# MENU (Default)
"menu":
    "defaultState":
        "state": "public.taxonomies"
        "params": { term: 'category', postType: 'post' }

"taxonomies":
    "posts":
        "query":
            "orderby" : "menu_order"
            "order": "asc"
